<main class=content>
  <div class=container>
    <aside class=left-bar>
      <h1>{{#labels}}{{about_title}}{{/labels}}</h1>
      <nav>
        <ul class="tags about-tags">{{{data.about.ul}}}</ul>
      </nav>
    </aside>
    <section class="right-content about-articles">{{{data.about.content}}}</section>
  </div>
  <script src={{path}}/scripts/left-bar.js></script>
  <script src="{{path}}/scripts/about.js"></script>
</main>
