<main class=content>
  <div class=container>
    <h1>{{#labels}}{{contact_title}}{{/labels}}</h1>
    <div class=half>
      <div class=box>{{#labels}}{{contact_for_general_info}}{{/labels}} <a href=mailto:{{#labels}}{{contact_for_general_info_email}}{{/labels}}>{{#labels}}{{contact_for_general_info_email}}{{/labels}}</a>
      </div>
      <div class=box>{{#labels}}{{contact_for_media_requests}}{{/labels}} <a href=mailto:{{#labels}}{{contact_for_media_requests_email}}{{/labels}}>{{#labels}}{{contact_for_media_requests_email}}{{/labels}}</a> {{#labels}}{{contact_or_call}}{{/labels}} <a href=tel:+442071938042>+44 207 193 8042</a>
      </div>
      <div class="line-behind-text follow-title">
        <h2>{{#labels}}{{contact_follow_us}}{{/labels}}</h2>
      </div>
      <div class=box-follow>
        <a href=#rss><i class="fa fa-rss fa-3x"></i> <br> {{#labels}}{{contact_rss}}{{/labels}}</a>
        <a href=https://twitter.com/webfoundation><i class="fa fa-twitter fa-3x"></i> <br> {{#labels}}{{contact_twitter}}{{/labels}}</a>
        <a href=https://www.facebook.com/webfoundation><i class="fa fa-facebook fa-3x"></i> <br> {{#labels}}{{contact_facebook}}{{/labels}}</a>
      </div>
    </div>
    <div class=half>
      <h2>{{#labels}}{{contact_feedback}}{{/labels}}</h2>
      <form action="{{path}}/inc/mail/mail.php" autocomplete=on class=feedback>
        <label for=name>{{#labels}}{{contact_form_name}}{{/labels}}</label>
        <input name=name required>
        <label for=email>{{#labels}}{{contact_form_email}}{{/labels}}</label>
        <input type=email name=email required>
        <label for=type>{{#labels}}{{contact_form_comment_type}}{{/labels}}</label>
        <select name=type required>
          <option value="{{#labels}}{{contact_form_comment_type_indicators}}{{/labels}}">{{#labels}}{{contact_form_comment_type_indicators}}{{/labels}}</option>
          <option value="{{#labels}}{{contact_form_comment_type_methodology}}{{/labels}}">{{#labels}}{{contact_form_comment_type_methodology}}{{/labels}}</option>
          <option value="{{#labels}}{{contact_form_comment_type_countries}}{{/labels}}">{{#labels}}{{contact_form_comment_type_countries}}{{/labels}}</option>
          <option value="{{#labels}}{{contact_form_comment_type_visualisation}}{{/labels}}">{{#labels}}{{contact_form_comment_type_visualisation}}{{/labels}}</option>
          <option value="{{#labels}}{{contact_form_comment_type_other}}{{/labels}}">{{#labels}}{{contact_form_comment_type_other}}{{/labels}}</option>
          <option value="{{#labels}}{{contact_form_comment_type_new}}{{/labels}}">{{#labels}}{{contact_form_comment_type_new}}{{/labels}}</option>
        </select>
        <label for=comment>{{#labels}}{{contact_form_comment}}{{/labels}}</label>
        <textarea name=comment cols=40 rows=10 required></textarea>
        <input type=submit value="{{#labels}}{{contact_form_send}}{{/labels}}">
      </form>
    </div>
  </div>
</main>
