<main class="content">
  <input type="hidden" id="path" value="{{path}}" />
  <input type="hidden" id="home-header-0-indicator" value="{{data.home-header.0.indicator}}" />
  <input type="hidden" id="home-header-0-tendency" value="{{data.home-header.0.tendency}}" />
  <input type="hidden" id="home-header-1-indicator" value="{{data.home-header.1.indicator}}" />
  <input type="hidden" id="home-header-1-tendency" value="{{data.home-header.1.tendency}}" />
  <input type="hidden" id="home-header-2-indicator" value="{{data.home-header.2.indicator}}" />
  <input type="hidden" id="home-header-2-tendency" value="{{data.home-header.2.tendency}}" />
  <input type="hidden" id="home-header-3-indicator" value="{{data.home-header.3.indicator}}" />
  <input type="hidden" id="home-header-3-tendency" value="{{data.home-header.3.tendency}}" />
  <div class="accordion">
    <article id="tab1">
      <aside>
        <header>
          <h1><strong class="percentage"></strong></h1>
          <h2>{{#labels}}{{home_tab_1}}{{/labels}}</h2>
        </header>
        <footer>
          <i class="fa fa-unlock-alt fa"></i>
        </footer>
      </aside>
      <section class="extra">
        <div class="extra-container-padding">
          <svg id="world" width="18em" height="18em" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" version="1.1" baseProfile="full">
            <defs>
              <pattern id="world-colour" patternUnits="userSpaceOnUse" width="100%" height="100%">
                  <image xlink:href="{{path}}/images/accordion/world.png" x="0" y="0" width="100%" height="100%" />
              </pattern>
              <pattern id="world-gray" patternUnits="userSpaceOnUse" width="100%" height="100%">
                  <image xlink:href="{{path}}/images/accordion/world_gray.png" x="0" y="0" width="100%" height="100%" />
              </pattern>
            </defs>
            <circle cx="50%" cy="50%" r="50%" stroke="black" stroke-width="0" fill="url(#world-gray)" />
            <path id="world-pie" d=""
              fill="url(#world-colour)" />
          </svg>
        </div>
        <footer>
          <h1><strong class="percentage"></strong> {{#labels}}{{home_of_countries}}{{/labels}}</h1>
          <h2>{{#labels}}{{home_tab_1_caption_1}}{{/labels}}</h2>
          <h2>{{#labels}}{{home_tab_1_caption_2}}{{/labels}}</h2>
        </footer>
      </section>
    </article>
    <article id="tab2">
      <aside>
        <header>
          <h1><strong class="percentage"></strong></h1>
          <h2>{{#labels}}{{home_tab_2}}{{/labels}}</h2>
        </header>
        <footer>
          <i class="fa fa-female"></i>
        </footer>
      </aside>
      <section class="extra">
        <div class="infographic-percentage extra-container-padding">
          <img class="infographic-icon" alt="" src="{{path}}/images/accordion/woman.svg" />
        </div>
        <footer>
          <h1><strong class="percentage"></strong> {{#labels}}{{home_of_countries}}{{/labels}}</h1>
          <h2>{{#labels}}{{home_tab_2_caption_1}}{{/labels}}</h2>
          <h2>{{#labels}}{{home_tab_2_caption_2}}{{/labels}}</h2>
        </footer>
      </section>
    </article>
    <article id="tab3">
      <aside>
        <header>
          <h1><strong class="percentage"></strong></h1>
          <h2>{{#labels}}{{home_tab_3}}{{/labels}}</h2>
        </header>
        <footer>
          <i class="fa fa-graduation-cap"></i>
        </footer>
      </aside>
      <section class="extra">
        <div id="infographic-circles" class="infographic-circles extra-container-padding notranslate">
          <div class="model">
            <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" version="1.1" baseProfile="full">
              <defs>
            	</defs>
              <circle cx="50%" cy="50%" r="50%" fill="#00758A" />
              <circle cx="50%" cy="50%" r="50%" fill="#FACC2E" class="circle" />
            </svg>
            <p class="country"></p>
          </div>
        </div>
        <footer>
          <h1><strong class="percentage"></strong> {{#labels}}{{home_of_countries}}{{/labels}}</h1>
          <h2>{{#labels}}{{home_tab_3_caption_1}}{{/labels}}</h2>
          <h2>{{#labels}}{{home_tab_3_caption_2}}{{/labels}}</h2>
        </footer>
      </section>
    </article>
    <article id="tab4">
      <aside>
        <header>
          <h1><strong class="percentage"></strong></h1>
          <h2>{{#labels}}{{home_tab_4}}{{/labels}}</h2>
        </header>
        <footer>
          <i class="fa fa-university"></i>
        </footer>
      </aside>
      <section class="extra">
        <div id="map" class="extra-container"></div>
        <footer>
          <h1><strong class="percentage"></strong> {{#labels}}{{home_of_countries}}{{/labels}}</h1>
          <h2>{{#labels}}{{home_tab_4_caption_1}}{{/labels}}</h2>
          <h2>{{#labels}}{{home_tab_4_caption_2}}{{/labels}}</h2>
        </footer>
      </section>
    </article>
  </div>
  {{>by}}
  <div class="container">
    <h1 class="text-center">{{#labels}}{{home_title}}{{/labels}}</h1>
    <h2>{{#labels}}{{home_description}}{{/labels}} <a href="{{host}}/about" class="read-more">{{#labels}}{{read_more}}{{/labels}} <span>&#187;</span></a></h2>
    <!-- GRID -->
    <div class="grid-items">
      <a href="{{host}}/about" class="grid-item">
        <i class="fa fa-play fa-3x"></i>
        <h1>{{#labels}}{{home_video_box}}{{/labels}}</h1>
      </a>
      <a href="{{host}}/report" class="grid-item">
        <i class="fa fa-file-text fa-3x"></i>
        <h1>{{#labels}}{{home_report_box}}{{/labels}}</h1>
      </a>
      <a href="{{host}}/data" class="grid-item">
        <i class="fa fa-line-chart fa-3x"></i>
        <h1>{{#labels}}{{home_data_box}}{{/labels}}</h1>
      </a>
      <div class="grid-item grid-item-full illustrations">
        <article>
          <header>
            <h1>{{#labels}}{{home_illustration_1_title}}{{/labels}}</h1>
            <h2><strong>{{#labels}}{{home_illustration_1_subtitle}}{{/labels}}</strong></h2>
            <ol>
              <li>Denmark</li>
              <li>Finland</li>
              <li>Norway</li>
              <li>United Kingdom</li>
              <li>Sweden</li>
            </ol>
          </header>
          <img src="{{path}}/images/illustrations/illustration1.png" />
        </article>
        <article>
          <header>
            <h1>{{#labels}}{{home_illustration_2_title}}{{/labels}}</h1>
            <h2><strong id="gender-percentage">66%</strong> {{#labels}}{{home_of_countries}}{{/labels}}</h2>
            <p>{{#labels}}{{home_illustration_2_text}}{{/labels}}</p>
          </header>
          <img src="{{path}}/images/illustrations/illustration2.png" />
        </article>
        <article>
          <header>
            <h1>{{#labels}}{{home_illustration_3_title}}{{/labels}}</h1>
            <h2><strong id="privacy-percentage">68%</strong> {{#labels}}{{home_of_countries}}{{/labels}}</h2>
            <p>{{#labels}}{{home_illustration_3_text}}{{/labels}}</p>
          </header>
          <img src="{{path}}/images/illustrations/illustration3.png" />
        </article>
        <aside class="illustration-buttons">
          <a href="javascript:void(0);" class="circle selected">1</a>
          <a href="javascript:void(0);" class="circle">2</a>
          <a href="javascript:void(0);" class="circle">3</a>
        </aside>
      </div>
      <div class="grid-item grid-item-big grid-item-taller">
        <h1>{{#labels}}{{home_top_five}}{{/labels}}</h1>
        <table class="ranking">
          <thead>
            <tr class="sorter" role="row">
              <th data-sort-type="text"><a class="empty" data-type="sorter"></a>Country</th>
              <th data-sort-type="number"><a class="empty" data-type="sorter"></a>Rank</th>
              <th data-sort-type="number"><a class="empty" data-type="sorter"></a>Universal Access</th>
              <th data-sort-type="number"><a class="empty" data-type="sorter"></a>Relevant content & use</th>
              <th data-sort-type="number"><a class="empty" data-type="sorter"></a>Freedom & Openness</th>
              <th data-sort-type="number"><a class="empty" data-type="sorter"></a>Empowerment</th>
            </tr>
          </thead>
          <tbody>
            {{#data.model.values}}
              <tr class="country-row">
                <td>
                  <img class="flag" alt="" src="{{img}}" />
                  <p class="country-name">{{name}}</p>
                </td>
                <td data-title="Rank">{{rank}}</td>
                <td data-title="Universal Access">{{UNIVERSAL_ACCESS}}</td>
                <td data-title="Relevant Content">{{RELEVANT_CONTENT_AND_USE}}</td>
                <td data-title="Freedom And Openness">{{FREEDOM_AND_OPENNESS}}</td>
                <td data-title="Empowerment">{{EMPOWERMENT}}</td>
              </tr>
            {{/data.model.values}}
          </tbody>
        </table>
        <p class="text-right">
          <a href="{{host}}/data#ranking" class="read-more">{{#labels}}{{home_view_full_list}}{{/labels}} <span>&#187;</span></a>
        </p>
      </div>
      <div class="grid-item grid-item-taller follow-box">
        <div class="sign-up">
          <i class="fa fa-envelope fa-3x"></i>
          <h1>{{#labels}}{{home_follow_us}}{{/labels}}</h1>
          <p>{{#labels}}{{home_follow_us_description}}{{/labels}}</p>
          <div class="newsletter-bar">
            <div class="newsletter-and-submit">
              <input type="email" placeholder="Enter your email account" />
              <button type="submit">
                {{#labels}}{{home_sign_up}}{{/labels}}
              </button>
            </div>
          </div>
        </div>
        <div class="links">
          <ul>
            <li><a href="{{host}}/feed"><i class="fa fa-rss fa-3x"></i></a></li>
            <li><a href="https://twitter.com/webfoundation"><i class="fa fa-twitter fa-3x"></i></a></li>
            <li><a href="https://www.facebook.com/webfoundation"><i class="fa fa-facebook fa-3x"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="line-behind-text news-header">
        <h3>{{#labels}}{{home_news}}{{/labels}}</h3>
      </div>
      <div>
        <div class="grid-item news">
          <header>
            {{{data.news.0.title}}}
          </header>
          <p class="content">
            {{{data.news.0.content}}}
          </p>
          <p class="text-right read-more">
            <a href="{{data.news.0.link}}">{{#labels}}{{read_more}}{{/labels}} <span>&#187;</span></a>
          </p>
        </div>
        <div class="grid-item tweet">
          <header>
            <a href="https://twitter.com/{{data.tweets.0.account.displayName}}">
              <i class="fa fa-twitter fa-3x"></i>
            </a>
            <a href="https://twitter.com/{{data.tweets.0.account.displayName}}" class="name">
              {{data.tweets.0.account.name}}
            </a>
            <a href="https://twitter.com/{{data.tweets.0.account.displayName}}" class="account">
              @{{data.tweets.0.account.displayName}}
            </a>
          </header>
          <p class="content">
            {{{data.tweets.0.content}}}
          </p>
        </div>
        <div class="grid-item news">
          <header>
            {{{data.news.1.title}}}
          </header>
          <p class="content">
            {{{data.news.1.content}}}
          </p>
          <p class="text-right read-more">
            <a href="{{data.news.1.link}}">{{#labels}}{{read_more}}{{/labels}} <span>&#187;</span></a>
          </p>
        </div>
        <div class="grid-item tweet">
          <header>
            <a href="https://twitter.com/{{data.tweets.1.account.displayName}}">
              <i class="fa fa-twitter fa-3x"></i>
            </a>
            <a href="https://twitter.com/{{data.tweets.1.account.displayName}}" class="name">
              {{data.tweets.1.account.name}}
            </a>
            <a href="https://twitter.com/{{data.tweets.1.account.displayName}}" class="account">
              @{{data.tweets.1.account.displayName}}
            </a>
          </header>
          <p class="content">
            {{{data.tweets.1.content}}}
          </p>
        </div>
        <div class="grid-item news">
          <header>
            {{{data.news.2.title}}}
          </header>
          <p class="content">
            {{{data.news.2.content}}}
          </p>
          <p class="text-right read-more">
            <a href="{{data.news.2.link}}">{{#labels}}{{read_more}}{{/labels}} <span>&#187;</span></a>
          </p>
        </div>
        <div class="grid-item tweet">
          <header>
            <a href="https://twitter.com/{{data.tweets.2.account.displayName}}">
              <i class="fa fa-twitter fa-3x"></i>
            </a>
            <a href="https://twitter.com/{{data.tweets.2.account.displayName}}" class="name">
              {{data.tweets.2.account.name}}
            </a>
            <a href="https://twitter.com/{{data.tweets.2.account.displayName}}" class="account">
              @{{data.tweets.2.account.displayName}}
            </a>
          </header>
          <p class="content">
            {{{data.tweets.2.content}}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="{{path}}/scripts/settings.js"></script>
  <script src="{{path}}/scripts/index.js"></script>
</main>
