<main class="content">
  {{>by}}
  <div class="container">
    <aside class="left-bar">
      <h1>{{#labels}}{{media_centre_title}}{{/labels}}</h1>
      <nav>
        <ul class="tags report-tags">
          <li class="active"><a href="#press_releases">{{#labels}}{{media_centre_section_1}}{{/labels}}</a></li>
          <li><a href="#videos">{{#labels}}{{media_centre_section_2}}{{/labels}}</a></li>
          <li><a href="#visualisations">{{#labels}}{{media_centre_section_3}}{{/labels}}</a></li>
          <li><a href="#in_the_press">{{#labels}}{{media_centre_section_4}}{{/labels}}</a></li>
        </ul>
      </nav>
    </aside>
    <section class="right-content report-articles">
      <article class="text-article" id="press_releases">
        <h1>{{#labels}}{{media_centre_section_1}}{{/labels}}</h1>
        {{{data.media.press_releases}}}
      </article>
      <article class="text-article" id="videos">
        <h1>{{#labels}}{{media_centre_section_2}}{{/labels}}</h1>
        {{{data.media.videos}}}
      </article>
      <article class="text-article" id="visualisations">
        <h1>{{#labels}}{{media_centre_section_3}}{{/labels}}</h1>
        {{#data.visualisations}}
          <h2 id="{{id}}">{{caption}}</h2>
          <div class="visualisation" data-anchor="{{id}}">
            <p class="esc">Press ESC to close</p>
            <div class="expand">
              <a href="javascript:void(0)" title="Maximise">
                <i class="fa fa-expand"></i>
              </a>
            </div>
            <iframe src="{{url}}"></iframe>
            <p class="open">
              <a href="{{url}}" target="_blank">Open in a new window</a>
            </p>
          </div>
        {{/data.visualisations}}
        {{{data.media.visualisations}}}
      </article>
      <article class="text-article" id="in_the_press">
        <h1>{{#labels}}{{media_centre_section_4}}{{/labels}}</h1>
        {{{data.media.in_the_press}}}
      </article>
    </section>
  </div>
  <script src="{{path}}/scripts/left-bar.js"></script>
  <script src="{{path}}/scripts/visualisation.js"></script>
</main>
