    <footer class="footer">
      <div class="footer-logo">
        <a href="http://www.webfoundation.org/" target="_blank" title="link opens in new window">
          <img src="{{path}}/images/wwwf-gray.png" alt="World Wide Web Foundation">
        </a>
      </div>
      <div class="footer-links">
        <ul>
          <li><h3>{{#labels}}{{footer_content}}{{/labels}}</h3></li>
          <li><a href="{{host}}/report">{{#labels}}{{footer_report}}{{/labels}}</a></li>
          <li><a href="{{host}}/data">{{#labels}}{{footer_data}}{{/labels}}</a></li>
          <li><a href="{{host}}/blog">{{#labels}}{{footer_blog}}{{/labels}}</a></li>
          <li><a href="{{host}}/media">{{#labels}}{{footer_media_centre}}{{/labels}}</a></li>
          <li><a href="{{host}}/about">{{#labels}}{{footer_about}}{{/labels}}</a></li>
        </ul>
        <ul>
          <li><h3>{{#labels}}{{footer_follow_us}}{{/labels}}</h3></li>
          <li><a href="{{host}}/contact"><i class="fa fa-envelope fa-lg"></i> {{#labels}}{{footer_contact}}{{/labels}}</a></li>
          <li><a href="https://www.facebook.com/webfoundation"><i class="fa fa-facebook fa-lg"></i> {{#labels}}{{footer_facebook}}{{/labels}}</a></li>
          <li><a href="https://twitter.com/webfoundation"><i class="fa fa-twitter fa-lg"></i> {{#labels}}{{footer_twitter}}{{/labels}}</a></li>
        </ul>
        <ul>
          <li><h3>{{#labels}}{{footer_legal}}{{/labels}}</h3></li>
          <li><a href="{{host}}/terms-of-use/">{{#labels}}{{footer_terms_of_use}}{{/labels}}</a></li>
        </ul>
      </div>

      <hr>

      <p>{{#labels}}{{{footer_copyright}}}{{/labels}}</p>
    </footer>

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-11069364-4', 'auto');
    ga('send', 'pageview');
    </script>
</body>
</html>
